header{
    background-color: black;
    height: 300px;

}

nav{
    background-color: blue;
    height:200px;

}

main{
    background-color: green;
    height: 1000px;
}

footer{
    background-color: black;
    height: 300px;


    }
    